@import "./assets/css/w3.css";

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif
}

h3 {
  margin-top: 55px !important;
}

.w3-bar,
h1,
button {
  font-family: "Montserrat", sans-serif
}

.fa-heart,
.fa-rss,
.fa-book,
.fa-coffee {
  font-size: 200px
}


a {
  color: #00b5ed;
}

a:hover {
  color: #0070e2;
}
