<!-- Navbar on big screens-->
<div class="w3-bar w3-teal w3-card w3-left-align w3-large">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-teal" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
  <a data-rg-href="/" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Home</a>
  <a data-rg-href="/quickstart" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Quickstart</a>
  <a data-rg-href="/docs" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Docs</a>
  <a data-rg-href="/examples" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Examples</a>
  <a href="http://www.regoch.org/contact" target="_blank" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Contact</a>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
  <a data-rg-href="/" class="w3-bar-item w3-button w3-padding-large">Home</a>
  <a data-rg-href="/quickstart" class="w3-bar-item w3-button w3-padding-large">Quickstart</a>
  <a data-rg-href="/docs" class="w3-bar-item w3-button w3-padding-large">Docs</a>
  <a data-rg-href="/examples" class="w3-bar-item w3-button w3-padding-large">Examples</a>
  <a href="http://www.regoch.org/contact" target="_blank" class="w3-bar-item w3-button w3-padding-large">Contact</a>
</div>
