<!-- First Grid -->
<section class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-col">
      <h1>Examples</h1>
      <p>Study the playground examples to learn the "Regoch Weber".</p>
      <ul>
        <li><a href="/playground/controller-hooks" target="_blank">Controller Lifecycle Hooks</a> - shows in which order will be executed constructor, prerender, postrender, init, destroy</li>
        <li><a href="/playground/model" target="_blank">Model</a> - modelling with the Proxy Object</li>
        <li><a href="/playground/view-rginc" target="_blank">View::rgInc()</a> - test the rgInc() method with nested data-rg-inc elements</li>
        <li><a href="/playground/view-loadviews" target="_blank">View::loadViews()</a> - test the loadViews() method with isAsync argument</li>
        <li><a href="/playground/view-lazyjs" target="_blank">View::lazyJS()</a> - load/unload JS file lazily</li>
        <li><a href="/playground/datarg" target="_blank">DataRg</a> - test the data-rg- elements related to DataRg methods</li>
        <li><a href="/playground/datarglisteners" target="_blank">DataRgListeners</a> - test the data-rg- elements related to DataRgListeners methods</li>
        <li><a href="/playground/cookie" target="_blank">Cookie</a> - test all Cookie methods: put, putObject, getAll, ...</li>
        <li><a href="/playground/form" target="_blank">Form</a> - test all Form methods: setControl, getControl, delControl ...</li>
        <li><a href="/playground/login" target="_blank">Auth</a> - test login, logout, ... i.e. Auth methods</li>
        <li><a href="/playground/navig1" target="_blank">navig</a> - test Navig methods</li>
        <li><a href="/playground/paginator" target="_blank">Paginator</a> - test pagination</li>
      </ul>
    </div>
  </div>
</section>
